body{
	background:navy;
	font-size:1em;
}

form{
	background: white;
	padding: 1em 2em 0.5em;
	width: 400px;
	margin: 100px auto 0;
	border-radius: 5px;
}

p{
	margin-bottom: 3em;
	position: relative;
}

label{
	display: block;
	font-size: 1.6em;
	margin-bottom: 0.5em;

}

input{
	display: block;
	font-size: 1.6em;
	width:100%;

}

input[type="text"],
input[type="password"] {
	border-radius: 5px;
	font-size: 1.6em;
	padding: .2em .2em;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
}

input[type="submit"]{
	background: steelblue;
	border-radius: 5px;
	border:none;
	color:white;
	cursor:pointer;
	display: block;
	font-size:1.8em;
	margin: 1em 0 0;
	padding: .8em;
}


span {
	border-radius: 5px;
	display: block;
	font-size:0.9em;
	text-align: center;
	position: absolute;
	background: steelblue;
	color:white;
	left: 105%;
	top:43px;
	width: 200px;
	height: 2em;
	padding: 5px 10px;


}